body {
    font-family: 'Frekoka', sans-serif;
    background: linear-gradient(to right, #6a11cb, #2575fc);
    color: white;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

.partners-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.partner-card {
    background: white;
    color: black;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
}

.partner-card img {
    width: 100%;
    height: auto;
}

.partner-card h2 {
    margin: 10px 0;
}

.details-button {
    background-color: #2575fc;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.3s, background-color 0.3s;
}

.details-button:hover {
    transform: scale(1.1);
    background-color: #6a11cb;
}

.partner-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
